html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.game {
  display: flex;
  gap: 8vw;
  margin-top: 25px;
  margin-bottom: 20px;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu {
  display: flex;
  gap: 10px;
  justify-content: center; /* Центрируем кнопки */
}

button {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-size: 1.2rem; /* Размер текста кнопки */
  padding: 1vw 2vw; /* Пространство внутри кнопок */
  background-color: #61c6ff; /* Цвет фона */
  color: white; /* Цвет текста */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #47a9e0; /* Цвет фона при наведении */
}

button:active {
  background-color: #318bbf; /* Цвет фона при клике */
}

.start__btn {
  background-color: #ff7f50; /* Индивидуальный цвет для кнопки START */
}

.start__btn.disable {
  pointer-events: none;
}

.start__btn:hover {
  background-color: #e76a41; /* Цвет фона при наведении для START */
}

.start__btn:active {
  background-color: #c45635; /* Цвет фона при клике для START */
}

.move-ship__btn {
  background-color: #61c6ff; /* Цвет для RANDOMISE */
}

.disable {
  background-color: #9d9d9d;
}

.move-ship__btn.disable {
  pointer-events: none;
}

.move-ship__btn:hover {
  background-color: #47a9e0;
}

.move-ship__btn:active {
  background-color: #318bbf;
}

.game-board {
  position: relative;
}

.game-board__inner {
  display: grid;
  grid-template-rows: repeat(10, 1fr); /* Each cell can grow to fit space */
  grid-template-columns: repeat(10, 1fr);
  width: 35vw; /* Adjusts to the viewport width */
  height: 35vw; /* Matches the width to ensure square sections */
  max-width: 75vh; /* Keeps it responsive and prevents the board from exceeding viewport height */
  max-height: 75vh; /* Ensures the board stays within the viewport */
  /* border: 1px solid #000; */
  margin: 0 auto; /* Centers the game board */
}

.sections {
  aspect-ratio: 1 / 1; /* Keeps each section square */
  position: relative;
  background-color: rgba(97, 198, 255, 0.2);
  margin: 1px;
  border-radius: 10%;
  transition: all 0.1s ease;
}

.sections:hover {
  background-color: rgba(97, 198, 255, 0.4);
}

.ship-part {
  width: 100%;
  height: 100%;
  background-color: #9d9d9d;
  background-color: rgba(157, 157, 157, 0.6);
  border-radius: 10%;
}

.boom {
  width: 100%;
  height: 100%;
  background-color: rgba(97, 198, 255, 0.4);
  border-radius: 10%;
}

.destroy {
  width: 100%;
  height: 100%;
  background-color: rgba(97, 198, 255, 0.4);
  border-radius: 10%;
  position: relative;
}

.destroy:before,
.destroy:after {
  opacity: 90%;
  content: "";
  z-index: 100;
  position: absolute;
  background-color: #ff0055;
}

.destroy:before {
  height: 3.8vw;
  width: 0.3vw;
  background-color: #ff0055;
  top: -6%;
  left: 45%;
  border-radius: 20px;
  rotate: 45deg;
}

.destroy:after {
  height: 3.8vw;
  width: 0.3vw;
  background-color: #ff0055;
  top: -5%;
  left: 44%;
  border-radius: 20px;
  rotate: -45deg;
}

.info__blure {
  position: absolute;
  top: 0;
  z-index: 999;
  visibility: hidden;
  height: 100vh;
  width: 100%;
}

.info {
  height: 150px;
  width: 300px;
  background-color: azure;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -150px;
  visibility: hidden;
  transition: all 0.3s ease;
}

.vis {
  visibility: visible;
  z-index: 999;
  backdrop-filter: blur(3px);
  transition: all 0.2s ease-in;
}

.open {
  height: 150px;
  width: 300px;
  background-color: azure;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  visibility: visible;
  margin-top: 100px;
}

.letter {
  text-align: center;
  width: 3.5vw;
}

.number {
  height: 3vw;
}

.number__side {
  position: absolute;
  top: 0.2vw;
  left: -3vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 2vw;
  color: #717c96;
  opacity: 70%;
}

.letters__side {
  display: grid;
  grid-template-rows: repeat(1, 30px); /* Each cell can grow to fit space */
  grid-template-columns: repeat(10, 1fr);
  position: absolute;
  top: -4vw;
  z-index: 100;
  font-size: 2vw;
  color: #717c96;
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .main {
    justify-content: space-evenly;
  }

  button {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-size: 1rem; /* Размер текста кнопки */
    padding: 1vw 2vw; /* Пространство внутри кнопок */
    background-color: #61c6ff; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .destroy:before {
    height: 3.3vw;
    width: 0.3vw;
    background-color: #ff0055;
    top: -4%;
    left: 50%;
    border-radius: 20px;
    rotate: 45deg;
  }

  .destroy:after {
    height: 3.3vw;
    width: 0.3vw;
    background-color: #ff0055;
    top: -4%;
    left: 50%;
    border-radius: 20px;
    rotate: -45deg;
  }
}

@media screen and (max-width: 425px) {
  .game {
    flex-direction: column-reverse;
  }

  .game-board__inner {
    width: 75vw;
    height: 75vw;
    max-width: 90vh;
    max-height: 90vh;
  }

  .number__side {
    top: 1vw;
    left: -5vw;
    gap: 4.6vw;
    text-align: right;
    font-size: 3vw;
  }

  .letters__side {
    display: grid;
    grid-template-rows: repeat(1, 30px);
    grid-template-columns: repeat(10, 1fr);
    position: absolute;
    top: -5vw;
    z-index: 100;
    font-size: 3vw;
    color: #717c96;
    opacity: 70%;
  }

  .letter {
    text-align: center;
    width: 7.5vw;
  }

  .main {
    justify-content: space-evenly;
  }

  button {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-size: 1rem; /* Размер текста кнопки */
    padding: 1vw 2vw; /* Пространство внутри кнопок */
    background-color: #61c6ff; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .destroy:before {
    height: 7vw;
    width: 0.6vw;
    top: 0%;
    left: 47%;
  }

  .destroy:after {
    height: 7vw;
    width: 0.6vw;
    top: 0%;
    left: 47%;
  }
}
